@* Modal to indicate successful save action taken *@

<div id="saveCompanyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Job Saved</h4>
            </div>
            <div class="modal-body">
                <p>You have successfully saved the company information.<br />To view your saved companies, visit your dashboard page.</p>
            </div>
            
        </div>

    </div>
</div>
